<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd"> -->

<!-- Example ApplicationContext for the PDP. -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="../config/PersistenceManager.xml" />
	<import resource="../config/Locator.xml" />
	<import resource="../config/ContextAndPolicyConfiguration.xml" />
	<import resource="../config/Functions.xml" />
	<import resource="../config/DataTypeAttributes.xml" />

	<bean class="org.herasaf.xacml.pdp.utils.spring.PDPPostProcessor" />
	<!-- PostProcessor -->

	<bean id="pdp" class="org.herasaf.xacml.pdp.impl.PDPImpl">
		<constructor-arg ref="locator" />
		<constructor-arg ref="persistenceManager" />
		<constructor-arg ref="referenceLoader" />
		<constructor-arg ref="pip" />
		<constructor-arg ref="onlyOneApplicableAlgorithm" />
	</bean>
	<!-- ============================================================  Locator definition  ================================================================= -->

	<bean id="indexHandler"
		class="org.herasaf.xacml.pdp.locator.impl.index.impl.IndexHandlerImpl" />

	<!-- ============================================================  ReferenceLoader definition  ====================================================== -->

	<bean id="referenceLoader"
		class="org.herasaf.xacml.pdp.referenecloader.impl.ReferenceLoaderMock">
	</bean>

	<!-- ===========================================  PIP definition  ================================================================ -->

	<bean id="pip" class="org.herasaf.xacml.pip.impl.PIPImplMock"></bean>

	<!-- ================  PolicyCombiningAlgorithm Converter definition and PolicyCombiningAlgorithm  ============================== -->

	 <bean id="URNToPolicyCombiningAlgorithmConverter"
		class="org.herasaf.xacml.core.converter.URNToPolicyCombiningAlgorithmConverter">
		<property name="combiningAlgorithms">
			<map>
				<entry
					key="urn:oasis:names:tc:xacml:1.0:policy-combining-algorithm:deny-overrides"
					value-ref="policyDenyOverridesAlgorithm" />
				<entry
					key="urn:oasis:names:tc:xacml:1.0:policy-combining-algorithm:permit-overrides"
					value-ref="policyPermitOverridesAlgorithm" />
				<entry
					key="urn:oasis:names:tc:xacml:1.0:policy-combining-algorithm:first-applicable"
					value-ref="policyFirstApplicableAlgorithm" />
				<entry
					key="urn:oasis:names:tc:xacml:1.0:policy-combining-algorithm:only-one-applicable"
					value-ref="onlyOneApplicableAlgorithm" />
			</map>
		</property>
	</bean>

	<bean id="onlyOneApplicableAlgorithm"
		class="org.herasaf.xacml.core.combiningAlgorithm.policy.impl.PolicyOnlyOneApplicableAlgorithm">
		<constructor-arg ref="targetMatcher" />
	</bean>

	<bean id="policyFirstApplicableAlgorithm"
		class="org.herasaf.xacml.core.combiningAlgorithm.policy.impl.PolicyFirstApplicableAlgorithm">
		<constructor-arg ref="targetMatcher" />
	</bean>

	<bean id="policyDenyOverridesAlgorithm"
		class="org.herasaf.xacml.core.combiningAlgorithm.policy.impl.PolicyDenyOverridesAlgorithm">
		<constructor-arg ref="targetMatcher" />
	</bean>

	<bean id="policyPermitOverridesAlgorithm"
		class="org.herasaf.xacml.core.combiningAlgorithm.policy.impl.PolicyPermitOverridesAlgorithm">
		<constructor-arg ref="targetMatcher" />
	</bean>


	<!-- ================  RuleCombiningAlgorithm Converter definition and RuleCombiningAlgorithm  ================================== -->

	<bean id="URNToRuleCombiningAlgorithmConverter"
		class="org.herasaf.xacml.core.converter.URNToRuleCombiningAlgorithmConverter">
		<property name="combiningAlgorithms">
			<map>
				<entry
					key="urn:oasis:names:tc:xacml:1.0:rule-combining-algorithm:deny-overrides"
					value-ref="ruleDenyOverridesAlgorithm" />
				<entry
					key="urn:oasis:names:tc:xacml:1.0:rule-combining-algorithm:ordered-deny-overrides"
					value-ref="ruleOrderedDenyOverridesAlgorithm" />
				<entry
					key="urn:oasis:names:tc:xacml:1.0:rule-combining-algorithm:permit-overrides"
					value-ref="rulePermitOverridesAlgorithm" />
				<entry
					key="urn:oasis:names:tc:xacml:1.0:rule-combining-algorithm:ordered-permit-overrides"
					value-ref="ruleOrderedPermitOverridesAlgorithm" />
				<entry
					key="urn:oasis:names:tc:xacml:1.0:rule-combining-algorithm:first-applicable"
					value-ref="ruleFirstApplicableAlgorithm" />
			</map>
		</property>
	</bean>

	<bean id="ruleDenyOverridesAlgorithm"
		class="org.herasaf.xacml.core.combiningAlgorithm.rule.impl.RuleDenyOverridesAlgorithm">
		<constructor-arg ref="targetMatcher" />
	</bean>

	<bean id="ruleOrderedDenyOverridesAlgorithm"
		class="org.herasaf.xacml.core.combiningAlgorithm.rule.impl.RuleOrderedDenyOverridesAlgorithm">
		<constructor-arg ref="targetMatcher" />
	</bean>

	<bean id="rulePermitOverridesAlgorithm"
		class="org.herasaf.xacml..core.combiningAlgorithm.rule.impl.RulePermitOverridesAlgorithm">
		<constructor-arg ref="targetMatcher" />
	</bean>

	<bean id="ruleOrderedPermitOverridesAlgorithm"
		class="org.herasaf.xacml.core.combiningAlgorithm.rule.impl.RuleOrderedPermitOverridesAlgorithm">
		<constructor-arg ref="targetMatcher" />
	</bean>

	<bean id="ruleFirstApplicableAlgorithm"
		class="org.herasaf.xacml.core.combiningAlgorithm.rule.impl.RuleFirstApplicableAlgorithm">
		<constructor-arg ref="targetMatcher" />
	</bean>

	<bean id="targetMatcher"
		class="org.herasaf.xacml.core.targetMatcher.impl.TargetMatcherImpl">
	</bean>
</beans>