<?xml version="1.0" encoding="UTF-8"?>

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="herasLogger" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%m%n" />
		</layout>
	</appender>

	<root>
		<level value="debug" />
		<appender-ref ref="herasLogger" />
	</root>
</log4j:configuration>